[submodule "fish/omf"]
	path = fish/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
[submodule "shell/.zsh-extensions/powerlevel10k"]
	path = shell/.zsh-extensions/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "shell/.zsh-extensions/zsh-autosuggestions"]
	path = shell/.zsh-extensions/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "shell/.zsh-extensions/zsh-syntax-highlighting"]
	path = shell/.zsh-extensions/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
