* {
    padding-bottom: 0px;
    border: none;
    border-radius: 0;
    font-family: "Ubuntu";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: rgba(255, 255, 255, 1);
}

#workspaces {
    margin-left: 3px;
}

#workspaces button {
    margin-right: 3px;
    margin-top: 3px;
    padding-bottom: 2px;
    padding-right: 1px;
    padding-left: 1px;
    background: #3274c2;
    color: white;
    transition-duration: 0;
    font-weight: bold;
    font-family: "UbuntuMono Nerd Font";
    border-radius: 4px;
}

#workspaces button.focused {
    background-color: #5294e2;
    color: white;
    font-weight: bold;
    transition-duration: 0;
}

#workspaces button.persistent {
    background: rgba(50, 52, 61, 1);
    font-weight: normal;
    transition-duration: 0;
}

#mode {
    background-color: #5294e2;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    border-radius: 4px;
}

#custom-powermenu {
    background: #ee4934;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Ubuntu Nerd Font";
    border-radius: 4px;
}

#tray {
    background: rgba(50, 52, 61, 1);
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 3px;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
    font-family: Ubuntu;
    border-radius: 4px;
}

#cpu {
    background: rgba(50, 52, 61, 1);
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 4px;
    padding-right: 6px;
    font-family: "Ubuntu Nerd Font";
    border-radius: 4px;
}

#pulseaudio {
    background: #4284d2;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    font-family: "Ubuntu Nerd Font";
}

#clock {
    background: #5294e2;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    border-radius: 4px;
}

#network {
    background: #3274c2;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    font-family: "Ubuntu Nerd Font";
    border-radius: 4px 0 0 4px;
}

#custom-ping {
    background: rgba(50, 52, 61, 1);
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: "Ubuntu Nerd Font";
    border-radius: 4px;
}

#custom-chinesevirus {
    background: rgba(50, 52, 61, 1);
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: "Ubuntu Nerd Font";
    border-radius: 4px;
}

#custom-pacman {
    background: rgba(50, 52, 61, 1);
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: "Ubuntu Nerd Font";
    border-radius: 4px;
}

#custom-menu {
    background: #5294e2;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 3px;
    margin-right: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    font-family: "Ubuntu Nerd Font";
    border-radius: 4px;
}

#battery {
    background: #5294e2;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    font-family: "Ubuntu Nerd Font";
    border-radius: 0 4px 4px 0;
}

#battery.charging {
    padding-right: 4px;
}
