* {
    padding-bottom: 0px;
    border: none;
    border-radius: 0;
    font-family: "Ubuntu";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: rgba(255, 255, 255, 1);
}

#workspaces {
    margin-left: 3px;
}

#workspaces button {
    margin-right: 3px;
    margin-top: 3px;
    padding-bottom: 2px;
    padding-right: 1px;
    padding-left: 1px;
    color: #f0c674;
    background-color: rgba(28, 31, 33, 0.7);
    transition-duration: 0;
    font-weight: bold;
    font-family: "UbuntuMono Nerd Font";
    border-radius: 2px;
}

#workspaces button.focused {
    background-color: #f0c674;
    color: white;
    font-weight: bold;
    transition-duration: 0;
}

#workspaces button.persistent {
    background: rgba(28, 31, 33, 0.7);
    color: #d8d8d8;
    font-weight: normal;
    transition-duration: 0;
}

#mode {
    background-color: #f0c674;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    border-radius: 2px;
}

#custom-powermenu {
    background: #cc6666;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Ubuntu Nerd Font";
    border-radius: 2px;
}

#tray {
    background: #d8d8d8;
    margin-top: 3px;
    margin-left: 3px;
    color: black;
    margin-left: 0px;
    margin-right: 3px;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
    font-family: Ubuntu;
    border-radius: 2px;
}

#cpu {
    background: rgba(28, 31, 33, 0.7);
    margin-top: 3px;
    margin-left: 3px;
    color: #d8d8d8;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 4px;
    padding-right: 6px;
    font-family: "Ubuntu Nerd Font";
    border-radius: 2px;
}

#pulseaudio {
    background: #81a2be;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    font-family: "Ubuntu Nerd Font";
}

#clock {
    background: #b5bd68;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    border-radius: 2px;
}

#network {
    background: #8abeb7;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    font-family: "Ubuntu Nerd Font";
    border-radius: 2px 0 0 2px;
}

#custom-ping {
    background: rgba(28, 31, 33, 0.7);
    margin-top: 3px;
    margin-left: 3px;
    color: #d8d8d8;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: "Ubuntu Nerd Font";
    border-radius: 2px;
}

#custom-chinesevirus {
    background: rgba(28, 31, 33, 0.7);
    margin-top: 3px;
    margin-left: 3px;
    color: #d8d8d8;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: "Ubuntu Nerd Font";
    border-radius: 2px;
}

#custom-pacman {
    background: rgba(28, 31, 33, 0.7);
    margin-top: 3px;
    margin-left: 3px;
    color: #d8d8d8;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: "Ubuntu Nerd Font";
    border-radius: 2px;
}

#custom-menu {
    background: #cc6666;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 3px;
    margin-right: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    font-family: "Ubuntu Nerd Font";
    border-radius: 2px;
}

#battery {
    background: #b294bb;
    margin-top: 3px;
    margin-left: 3px;
    color: white;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    font-family: "Ubuntu Nerd Font";
    border-radius: 0 2px 2px 0;
}

#battery.charging {
    padding-right: 4px;
}
