* {
background-color: transparent;
color: rgba(0, 0, 0, 0.7)
}

window {
font-family: "Ubuntu" ;
font-size: 12px;
margin: 5px;
border: 1px solid #cccfd4;
background-color: #eceff4;
border-radius: 2px;
}

#input {
margin: 6px 10px 6px 10px;
border: 1px solid #81A1C1;
border-radius: 4px;
padding: 0px 10px 0px 10px;
}

#inner-box {
margin: 5px;
}

#outer-box {
margin: 5px;
}

#scroll {
margin: 5px;
}

#text {
margin: 5px;
background-color: transparent;
}

#entry:selected {
background-color: rgba(0, 0, 0, 0.1);
}

#text:selected {
background-color: transparent;
}

